<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biblioteca.mapper.book.BookMapper">
    <select id="getBookList" parameterType="com.biblioteca.model.book.BookModel" resultType="com.biblioteca.model.book.BookModel">
    SELECT
        title
        ,isbn
        ,writer
        ,pag
        ,price
        ,publish_date
    FROM BOOK
    </select>
</mapper>
